body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #00ad25, #a18100);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .design-square,
  .design-square-top-right-second,
  .design-square-bottom {
    position: absolute;
    width: 758px;
    height: 906px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .design-square {
    background: rgba(255, 255, 255, 0.14);
    transform: rotate(64deg);
    top: -310px;
    left: -620px;
  }
  
  .design-square-top-right-second {
    background: rgba(0, 0, 0, 0.14);
    transform: rotate(60deg);
    top: -100px;
    right: -700px;
  }
  
  .design-square-bottom {
    background: rgba(255, 255, 255, 0.14);
    transform: translateX(-50%) rotate(60deg);
    bottom: -700px;
    left: 40%;
  }
  
  .container1 {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    z-index: 1;
    height: 70%;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .signup-title {
    font-size: 45px;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    margin-bottom: 80px;
  }
  
  .input-group {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - -80px);
    margin-left: -40px;
    position: relative;
  }
  
  .input-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  
  .input-group .material-icons {
    position: absolute;
    left: 8px;
    top: 34px;
    color: #707070;
    font-size: 20px;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 10px 10px 10px 35px;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
    outline: none;
    color: #000000;
  }
  
  .input-group input::placeholder {
    font-size: 15px;
    color: #B1B1B1;
    font-family: sans-serif;
  }
  
  .input-group input:focus {
    border-bottom: 2px solid #00b90f;
    box-shadow: 0 4px 6px -6px rgba(212, 0, 255, 2);
  }
  
  .signup-btn {
    background: linear-gradient(to right, #00ad25, #a18100);
    color: white;
    border: none;
    padding: 10px;
    width: calc(100% - 0px);
    height: 55px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    font: Segoe UI;
    font-weight: bold;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .signup-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgb(0, 0, 0);
  }
  
  .login-text {
    margin-top: 80px;
    padding-top: 80px;
    color: #B1B1B1;
  }
  
  .login-text a {
    color: #00c3ff;
    text-decoration: none;
    font-weight: bold;
  }
  
